p {
  font-family: Roboto, Arial;
  font-weight: 900;
  margin: 0;
  color: rgb(100, 100, 100);
}

body {
  padding-top: 70px;
  background-color: rgb(235, 235, 235);
}

.menu{
  height: 60px;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.seccion-izq {
  padding-left: 15px;
  padding-right: 15px;
}

.seccion-izq:hover {
  cursor: pointer;
  background-color: rgb(220, 220, 220);
}

.seccion-izq div {
  font-family: Roboto, Arial;
  font-size: 14px;
  font-weight: 700;
}

.home {
  text-decoration: none;
  color: black;
}

.home-icon {
  height: 36px;
}

.seccion-mid {
  display: flex;
}

.bar-link {
  font-family: Roboto, Arial;
  font-size: 18px;
  font-weight: 700;
  background-color: white;
  border: none;
  padding: 14px 16px 14px 16px;
}

.bar-link:hover {
  background-color: rgb(220, 220, 220);
}

.header {
  font-family: Roboto, Arial;
  font-size: 46px;
  text-align: center;

  height: 200px;
}

.header p {
  margin-top: 50px;
  color: black;
}

.imagen-preview {
  width: 100%;
}

.articulos-info {
  padding-left: 20px;
  padding-top: 10px;
}

.articulo-precio {
  color: black;
  font-size: 18px;
  text-align: center;
  margin-bottom: 10px;  
}

.articulo-nombre {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.articulo-descripcion {
  font-weight: 500;
  font-size: 14px;
  text-align: center;
}

.articulos-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 40px;
  margin: 0 80px;
  align-items: end;
  justify-items: center;
}

.suscribirse div p {
  font-family: Roboto, Arial;
  font-weight: 900;
  color: black;
}

.suscribirse {
  margin: 100px;  
}
